@font-face {
    font-family: Ramadan;
    src: url('./ramadan\ font/RamadhanMubarokRegular-jEJal.otf');
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    pointer-events: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    height: 100vh;
    background-image: url('https://img.freepik.com/free-vector/star-sky-space-stars-background-glitter-particles_160081-289.jpg');
    background-color: #000;
}

.config {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    left: 10px;
    top: 10px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #cdcdcd;
    z-index: 2;
}

.config:hover {
    filter: brightness(0.9);
}

.config:active {
    filter: brightness(0.8);
}

.dashboardExit {
    position: absolute;
    left: 10px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    padding: 5px;
    color: #000;
    border-radius: 10px;
    background-color: #fff;
}

.dashboardExit:hover {
    color: #0009;
}

.dashboard {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    background-color: #fff2;
    backdrop-filter: blur(5px);;
    gap: 30px;
    transition: .5s;
    z-index: 10000;
}

.dashboard.show {
    visibility: visible;
    opacity: 1;
}

.dashboard .membersTable {
    position: absolute;
    left: -150%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-spacing: 0;
    width: 500px;
    box-shadow: 0 0 20px 5px #fff9;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.dashboard.show .membersTable {
    left: 50%;
}

.dashboard .membersTable thead {
    background-color: #000;
    color: #fff;
}

.dashboard .membersTable tbody {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 500px;
    overflow: auto;
}

.dashboard .membersTable tbody tr:nth-child(odd) {
    background-color: #e7e9eb;
}

.dashboard .membersTable tbody tr:nth-child(even) {
    background-color: #fff;
}

.dashboard .membersTable th, td {
    padding: 10px;
    text-align: left;
}

.pickWindow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 50px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 30px 10px #fff6;
    gap: 10px;
    transition: .2s;
    position: relative;
}

.pickWindow .pickInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
}

.pickWindow h1 {
    color: #fff;
    font-size: 3rem;
    text-align: center;
    transition: .5s;
}

.pickWindow p {
    font-family: Ramadan;
    font-size: 2rem;
    color: #7c7c7c;
    transition: .1s;
}

.pickWindow.start {
    transform: scale(1.05);
}

.pickWindow.start .pickInfo {
    transform: translateX(-50%) scale(1.2);
}

.bdayaButton {
    width: 100px;
    height: 40px;
    background-color: cornflowerblue;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: large;
    box-shadow: 0px 10px 10px -5px #0005;
}

.bdayaButton:hover {
    filter: brightness(1.2);
}

.bdayaButton:active {
    filter: brightness(0.9);
}

@media screen and (max-width: 794px) {
    .pickWindow {
        width: 90%;
    }
    .dashboard .membersTable {
        width: 90%;
    }
}